<body style="padding: 20px">
  <% if session[:message] %>
    <div style="display: inline; background-color: yellow">
      <%= session.delete(:message) %>
    </div>
  <% end %>

  <div>
    <h1>Quotes</h1>
  </div>

  <div style="width: 300px">
    <ol>
      <% (1...@quotes.size).each do |index| %>
      <li>
        <em>
          <%= @quotes[index]['author'] %> famously said:
        </em>
        <%= @quotes[index]['quote'] %>
      </li>
      <% end %>
    </ol>
  </div>
  <a href="/quotes/new">Add a new quote</a>
</body>
