<body style="padding: 20px">
  <form action="/quotes" method="post">
    <label for="author">Author:</label>
    <div style="padding: 10px 0px">
      <input type="text" name="author" id="author" />
    </div>
    <label for="quote">Quote:</label>
    <div style="padding: 10px 0px">
      <textarea name="quote" id="quote"></textarea>
    </div>
    <button type="submit">Save quote</button>
  </form>
</body>
