<body style="padding: 20px">
  <div style="width: 300px">
    <p>
      Quote: <em><%= @quote['quote'] %></em>
    </p>

    <p>
      Author: <em><%= @quote['author'] %></em>
    </p>
  </div>
</body>
